html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {

}

main h1 {
  font-family: Denk One;
  color: #623b0c;
  margin: 1.5rem;
}

h2 {
  list-style-type: none;
  color: #623b0c;
  font-family: Denk One;
  text-align: left;
  padding: 1em;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding; 1rem 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border: 2px solid #623b0c;
  border-radius: 8px 8px 8px 8px;
  background-color: #ede3db;
  flex-wrap: wrap;
  flex-grow: 1;
}

li p {
  font-family: Georgia;
  color: #000;
  margin: 1.5rem;
}

img {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

li a {
  color: #fff;
  background-color: #623b0c;
  padding: .75em;
  text-decoration: none;
  border-radius: 8px;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
