html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Denk One", normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main h1 {
  font-family: "Denk One";
  color: #623b0c;
  margin: 0;
  padding: .5em;
}

h2 {
  list-style-type: none;
  color: #623b0c;
  font-family: "Denk One";
  text-align: left;
  padding-left: .75em;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: .6em;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #623b0c;
  border-radius: 8px;
  background-color: #ede3db;
  flex-wrap: wrap;
  flex-grow: 1;
}

li p {
  font-family: Georgia;
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
}

img {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: -1.5rem;
}

li a {
  color: #fff;
  font-family: Georgia;
  background-color: #623b0c;
  padding: .6em;
  text-decoration: none;
  border-radius: 8px;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: .75rem;
  width: 90%;
}
